/* Phone */
@media screen and (max-width: 767px) {
    .LanguageSection {
        display: none;
    }
    .HamMenuIcon {
        z-index: 2 !important;
    }

    .BottomSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1.5rem !important;
        height: 6rem;
        color: white;
        background: linear-gradient(180deg, rgba(25, 25, 25, 0.5) 0%, rgba(97, 97, 97, 0.4) 19%, rgba(255, 255, 255, 0) 46%);
    }

    /* Hamburger Menu */

.topnav {
    overflow: hidden;
    background-color: var(--color2);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s;
}

.icon4 {
    font-size: 26px;
    z-index: 2;
    cursor: pointer;
}

.icon4:hover {
    font-size: 26px;
    z-index: 2;
    color: var(--color);
}

.topnav #myLinks {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.mSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background: url(../../../../Public/Elements/footer.svg);
}

.topnav.show #myLinks {
    height: 100vh;
}

.topnav a {
    display: block;
    transition: color 0.3s;
}

.Links a {
    color: white;
    font-size:  2rem;
    text-decoration: none;
    line-height: 3rem;
    
}

.topChildMargin {
margin-top: 8rem;
}

.menutext {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;

}

.menutext1 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    width: 20rem;
}

.Links {
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .LanguageSection {
        display: none;
    }
    .HamMenuIcon {
        z-index: 2 !important;
    }

}

/* Laptop */
@media screen and (min-width: 1024px) {
    .HamMenuIcon {
        display: none !important;
    }
}