/* 66b64d */

.Navbar {
    height: fit-content;
    position: fixed;
    width: 100%;
    z-index: 3;
}

/* Top Section Starts */

.TopSection {
    background-color: var(--color);
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    color: white;
    border-bottom: 1px solid var(--color1) ;
}

.text {
    font-size: 0.9rem;
}

.icon1 {
    font-size: 1.5rem !important;
}


.navSocialSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
}

/* Bottom Section Starts */

.BottomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 6rem;
    color: white;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0.5) 0%, rgba(97, 97, 97, 0.4) 19%, rgba(255, 255, 255, 0) 46%);
}

.scrolled .BottomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 6rem;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.10);
    background: var(--color8);
    color: black;
    transition: all 1s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

}

.scrolled .logotext {
    color: var(--color2);
}

.scrolled .TopSection {
    display: none;
}

.scrolled .LanguageSection a {
    color: var(--color2);
    font-size: 1.1rem;
}

.LanguageSection a {
    color: var(--color2);
    color: white;
    font-size: 1.1rem;
}


.logo {
    height: 3.5rem;
    border: 1px solid #66b64d;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    z-index: 2;
}

.logoSec {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logotext {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-left: 1rem;
}

.LanguageSection {
    display: flex;
    gap: 2rem;
    font-weight: 600;
}

.LanguageSection a:hover {
    color: var(--color2);
    font-weight: 600;
}

.LanguageSection a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.MenuSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.HamMenuIcon {
    font-size: 2rem !important;
    color: white;
}

.scrolled .HamMenuIcon {
    font-size: 2rem !important;
    color: var(--color2);
}

.scrolled .LanguageSection a:hover {
    color: var(--color);
    font-weight: 700;
}

/* Hamburger Menu */

.topnav {
    overflow: hidden;
    background-color: var(--color2);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s;
}

.icon4 {
    font-size: 26px;
    z-index: 2;
    cursor: pointer;
}

.icon4:hover {
    font-size: 26px;
    z-index: 2;
    color: var(--color);
}

.topnav #myLinks {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    padding-inline: 5vw !important;
}

.mSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background: no-repeat url(../../../../Public/Elements/footer.svg);
    background-size: cover;
}

.topnav.show #myLinks {
    height: 100vh;
}

.topnav a {
    display: block;
    transition: color 0.3s;
}

.Links a {
    color: white;
    font-size: 3rem;
    text-decoration: none;
    line-height: 5rem;
}




.Links {
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.top {
    margin-top: 4rem;
}

.menutext {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;

}

.menutext1 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    width: 30rem;
}

.bottom {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.topChildMargin {
margin-top: 7rem;
}

.logoSec:hover {
    border: 1px solid var(--color1);
    padding: 0.3rem;
    padding-right: 1.5rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: var(--color);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
