

.divCareerSectionSubmit {
    box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.1);
    padding: 8rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.divCareerSectionSubmitContainer {
    padding: 5rem 10rem;
}

.divcareertexts {
    color: var(--color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.divcareertexts1 {
    font-size: 1.1rem;
    color: var(--color9);
}

.SubmitCvBtn {
    background-color: var(--color);
    border: 1px solid var(--color2);
    height: 4rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-size: 1rem;
    color: var(--color8);
    width: fit-content;
    padding-inline: 5rem;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.SubmitCvBtn:hover {
    background-color: var(--color2);
    border: 1px solid var(--color);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.divSubmitCareerSectionbtn {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.1);
    padding: 4rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 100%;
    height: fit-content;;
    gap: 2rem;
    background-color: var(--color8);
}


.CareerSubmit {
    height: 3rem;
    border: none;
    background-color: whitesmoke;
    padding-inline: 1rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-size: 1rem;
}

.CareerSubmit::placeholder {
    font-size: 1rem;
}

.divicontextgroupcareer {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.closeIconCareer {
    font-size: 1.5rem !important;
    color: var(--color2);
}

.divCareerSectionSubmitContainer {
    position: relative;
  }
  
  .divSubmitCareerSectionbtnGroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
  
