/* Dark Mode starts Right there */

.dark .TopSection {
  background-color: var(--color9);
}

.dark .scrolled .BottomSection {
  background-color: var(--color9);
}

.dark .logoSec:hover {
  background-color: var(--color2);
}

.dark .scrolled .logotext {
  color: var(--color);
}

.dark .scrolled .LanguageSection a {
  color: var(--color);
}

.dark .scrolled .LanguageSection a:hover {
  color: var(--color8);
}

.dark .HomeIconText {
  color: var(--color8);
}

.dark .HomeIconDesp {
  color: var(--color8);
}

.dark .divAboutSectionHomeMenu {
  background-color: var(--color9);
}

.dark .bckBtn {
  background-color: var(--color9);
  border: 1px solid var(--color);
}

.dark .SubmitCvBtn {
  background-color: var(--color9);
  border: 1px solid var(--color);
}

.dark .divScollbuttonNavMenuSection1 #name {
  background-color: var(--color9);
  border: 1px solid var(--color);
  color: var(--color);
}

.dark .divScollbuttonNavMenuSection2 #name {
  background-color: var(--color9);
  border: 1px solid var(--color);
  color: var(--color);
}

.dark .divScollbuttonNavMenuSection3 #name {
  background-color: var(--color9);
  border: 1px solid var(--color);
  color: var(--color);
}

.dark .HomeSectionText1 {
  color: var(--color);
}

.dark .HomeSectionText2 {
  color: var(--color8);
}

.dark .HomeSectionText3 {
  color: var(--color8);
}

.dark .divGridSections {
  background-color: var(--color9);
}

.dark .divGridSections .HomeMenuTextGrid {
  color: var(--color8);
}

.dark .divGridSections1 {
  background-color: var(--color9);
}

.dark .divGridSections1 .HomeMenuTextGrid {
  color: var(--color8);
}

.dark .defaultBackground .HomeSectionText2 {
  color: var(--color9);
}

.dark .Footer {
  background-color: var(--color9);
}

.dark .divNewsbar {
  background-color: var(--color9);
}

.dark .divNewsbar .Newsdecp1 {
  color: var(--color8);
}

.dark .divNewsbar1 {
  background-color: var(--color9);
}

.dark .divNewsbar1 .Newsdecp1 {
  color: var(--color8);
}

.dark .textNewsSectionDetails {
  color: var(--color8);
}

.dark .divcareertexts1 {
  color: var(--color8);
}

.dark .divCareerBarContainer {
  background-color: var(--color9);
}

.dark .divCareerBarContainer .divNewsTimeZone {
  color: var(--color8);
}

.dark .divCareerBarContainer .Newsdecp1 {
  color: var(--color8);
}

.dark .Navbar .MenuSection .LanguageSection .active {
  color: var(--color8);
  font-weight: 700;
}

.dark .divAboutSectionHomeMenuImg {
  border: 2px solid var(--color8);
}

.dark .scrolled .HamMenuIcon {
color: var(--color);
}