.DivMenuSectionHeaderNewsDetails {
    background: no-repeat url(../../../Public/Images/Group174.png);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0rem;
}

.DivTopNavShort {
    display: flex;
    padding-inline: 3rem;
    padding-top: 5rem;
    align-items: center;
}

.DivTopNavShort p {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.DivBottomtextShort .bckText {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.LinkNav {
    color: white;
    text-decoration: none;
}

.IconRight {
    color: white;
}

.RecentMenu {
    color: white;
    cursor: pointer;
    font-weight: 600
}

.DivBottomtextShort {
    padding-inline: 10rem;
}

.LinkNav:hover {
    color: var(--color2);
    font-weight: 600;
    text-decoration: none;
}
