/* Phone */
@media screen and (max-width: 767px) {
    .divCareerSectionSubmitContainer {
        padding: 2rem 1rem;
    }
    .divCareerSectionSubmit {
        padding: 2rem;
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .divCareerSectionSubmitContainer {
        padding: 5rem 5rem;
    }
    .divCareerSectionSubmit {
        padding: 4rem;
    }
}

/* Laptop */
@media screen and (min-width: 1024px) {}