/* Phone */
@media screen and (max-width: 767px) {
    .bckText1 {
        font-size: 1.7rem;
        width: 20rem !important;
        font-weight: 600;
        color: white;
    }

    .DivBottomtextShort {
        padding-inline: 3rem !important;
    }

    .HomeText {
        width: 10rem !important;
    }

    .Background {
        padding: 1.5rem;
    }

    .HomeCount {
        color: white;
        display: flex;
        align-items: flex-end;
        height: 100vh;
        padding: 1rem 0rem;
    }

    .divIconSectionBarHomeMenu {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 7rem 0rem;
        align-items: center;
        justify-content: space-around;
    }

    .divIconHomeSec {
        margin: 3rem 0rem;
    }

    .divAboutSectionHomeMenu {
        display: flex;
        flex-direction: column;
        padding: 4rem 0rem;
    }

    .divAboutSectionHomeMenuImg {
        margin-top: 3rem;
    }

    .HomeImage1 {
        width: 20rem;
        bottom: 2rem;
        left: 2rem;
        border-radius: 60px 0px 60px 0px;
        -webkit-border-radius: 60px 0px 60px 0px;
        -moz-border-radius: 60px 0px 60px 0px;
        -ms-border-radius: 60px 0px 60px 0px;
        -o-border-radius: 60px 0px 60px 0px;
}

    .divAboutSectionHomeMenuImg {
        width: 19rem;
        height: 14rem;
        margin-top: 4rem;
        border-radius: 60px 0px 60px 0px;
        -webkit-border-radius: 60px 0px 60px 0px;
        -moz-border-radius: 60px 0px 60px 0px;
        -ms-border-radius: 60px 0px 60px 0px;
        -o-border-radius: 60px 0px 60px 0px;
}
    .HomeImage1:hover {
        border-radius: 60px 0px 60px 0px;
    }

    .divAboutSectionHomeMenuImg {
        margin-right: 3rem;
        margin-left: 0rem;
    }

    .HomeSectionText3 {
        width: 22rem;
        margin-top: 1rem;
    }

    .HomeSectionText2,
    .HomeSectionText1 {
        width: 22rem;
    }

    .GroupAboutSectionHomeMenuImg {
        margin-inline: 3rem !important;
    }

    .HomeImage1:hover {
        position: absolute;
        width: 20rem;
        top: 2rem;
        bottom: 0rem;
        left: 2rem;
    }

    .divGrisHomeMenuSection1 {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .divGrisHomeMenuSection2 {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .divHomemenuSectionAdds {
        display: flex;
        flex-direction: column;
    }

    .divGridSections {
        width: 100% !important;
    }

    .divGridSections1 {
        margin: 0;
    }

    .HomeImage2,
    .HomeImage3,
    .HomeImage4 {
        width: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }


    .divGridSections1 {
        margin-top: 1.5rem;
    }

    .HomeMenuTextGridDesp {
        width: 20rem;
    }

    .divAboutSectionHomeMenuText {
        width: 90%;
    }

    .divHomeMenuSectionContact {
        padding: 5rem 0rem;
    }

    .HomeSectionText2 {
        width: 20rem;
        font-size: 2rem;
    }

    .ContactSendBtn {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .divHomeContactSec {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 2rem;
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .bckText1 {
        font-size: 2.5rem;
        width: 35rem !important;
        font-weight: 600;
        color: white;
    }

    .DivBottomtextShort {
        padding-inline: 4rem !important;
    }

    .HomeText {
        width: 35rem !important;
    }

    .HomeIconSet {
        width: 7rem;
        margin-bottom: 1rem;
    }

    .HomeIconDesp {
        margin-top: 1rem;
        font-size: 1rem;
        width: 13rem;
        text-align: center;
    }

    .divAboutSectionHomeMenu {
        display: flex;
        flex-direction: column;
        padding: 6rem 0rem;
    }

    .divAboutSectionHomeMenuImg {
        margin-top: 6rem !important;
    }

    .HomeImage1 {
        width: 30rem;
        bottom: 2rem;
        left: 2rem;
    }

    .divAboutSectionHomeMenuImg {
        width: 30rem;
        height: 20rem;
        margin-top: 4rem;
    }

    .divAboutSectionHomeMenuImg {
        margin-right: 3rem;
        margin-left: 0rem;
    }

    .HomeSectionText3 {
        width: 45rem;
        margin-top: 1rem;
    }

    .HomeSectionText2,
    .HomeSectionText1 {
        width: 45rem;
    }

    .HomeSectionText2 {
        font-size: 2.5rem;
    }

    .GroupAboutSectionHomeMenuImg {
        margin-inline: 3rem !important;
    }

    .HomeImage1:hover {
        position: absolute;
        width: 30rem;
        border-radius: 7rem 0rem 7rem 0rem;
        -webkit-border-radius: 7rem 0rem 7rem 0rem;
        -moz-border-radius: 7rem 0rem 7rem 0rem;
        -ms-border-radius: 7rem 0rem 7rem 0rem;
        -o-border-radius: 7rem 0rem 7rem 0rem;
        top: 2rem;
        bottom: 0rem;
        left: 2rem;
    }

    .divGrisHomeMenuSection1 {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .divGrisHomeMenuSection2 {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .divHomemenuSectionAdds {
        display: flex;
        flex-direction: column;
    }

    .divGridSections {
        width: 100% !important;
    }

    .divGridSections1 {
        margin: 0;
    }

    .HomeImage2,
    .HomeImage3 {
        width: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }


    .divGridSections1 {
        margin-top: 1.5rem;
    }

    .divAboutSectionHomeMenuText {
        width: 80%;
    }

    .divHomeMenuSectionContact {
        padding: 5rem 0rem;
    }

    .HomeSectionText2 {
        width: 40rem;
    }

    .divGridSections1 {
        display: flex;
    }

    .divGrisHomeMenuSection2 .divGridSections1 .HomeMenuTextGrid {
        height: fit-content;
    }

    .divGrisHomeMenuSection2 .divGridSections1 .divGridSectionMenu {
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }

    .divGrisHomeMenuSection2 .divGridSections1 .divGridSectionMenu {
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .divGrisHomeMenuSectionfortext {
        display: flex;
        flex-direction: column;
    }

    .divGrisHomeMenuSection2 p {
        width: 15rem;
        font-size: 1.5rem;
    }

    .divGrisHomeMenuSection2 .HomeMenuTextGrid {
        width: 15rem;
        font-size: 2rem;
        padding-left: 1rem;
    }
    .divGrisHomeMenuSection2 .IconAdds {
font-size: 2rem;
margin-top: 2rem;
    }
}

/* Laptop */
@media screen and (min-width: 1024px) {}