.loading-bar {
    width: 20rem;
    height: 1.5rem;
    border: 2px solid black;
    margin-bottom: 5rem;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}

.fill {
    height: 100%;
    background-color: white;

    animation: fillAnimation 1.5s  linear forwards;
    -webkit-animation: fillAnimation 1.5s  linear forwards;
    border-radius: 100rem;
}

.loadingbackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color7);
    z-index: 11;
    cursor: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.div-loading {
    text-align: center;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

@keyframes fillAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.Load {
    display: inline-block;
    height: 30rem;
    margin-bottom: 5rem;
    text-decoration: none !important;
    margin-right: 2rem;
    
}

.Load:hover {
    cursor: none;
}

  