/* .divNewsAddBarContainer {
    padding: 3rem;
} */

.divNewsbar {
    display: flex;
    box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.1);
    /* width:42rem; */
    background-color: white;
    height: fit-content;
    border-radius: 12px;
    transition: all 0.4s;
}

.divNewsbar:hover {
    background-color: var(--color2);
    color: white;
}

.divNewsbar:hover .Newsdecp1 {
    color: var(--color8);
}

.divNewsbar1:hover .Newsdecp1 {
    color: var(--color8);
}

.NewsImage1 {
    border-radius: 7px;
}

.divNewsTextsSections {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 1.6rem 1rem;
    justify-content: space-between;

}

.divNewsTextsSections001 {
    height: 100%;
}

.NewsText1 {
    font-size: 2vw;
    color: var(--color);
    font-weight: 700;
}

.divNewsTimeZone {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
}

.divNewsTime {
    font-weight: 600;
    font-size: 1vw;
    color: var(--color);
}

.NewsIconSet1 {
    color: var(--color);
}

.divbarnewssection1 {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 1vw;
    text-decoration: none;
}

.Newsdecp1 {
    font-size: 1vw;
    color: var(--color9);
}



.divNewsAddBarContainer {
    padding: 4rem;
}

.divNewsAddBarContainer .divbarnewssection2-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5vw;
    margin-top: 4rem;
    width: 100%;
    padding-inline: 2vw;
    text-decoration: none;
}




.divNewsbar1 {
    box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 12px;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    color: black;
}


.divNewsbar1:hover {
    background-color: var(--color2);
    color: white;
}


.divNewsbar1 .NewsText1 {
    font-size: 1.3vw;
    margin-bottom: 1rem;
}

.divNewsbar1 .divNewsTimeZone {
    margin-top: 2rem;
}

.divbarnewssection1 .NewsImage1 {
    margin: 0.5rem;
    width: 50%;
}

.divNewsbar1 .NewsImage1 {
    object-fit: cover;
    background-position: center;
    /* margin: 0.5rem; */
    width: 100%;
}

.divbarnewssection1,
.divbarnewssection2-column {
    cursor: pointer;
}

.divNewsbar:active .NewsText1 {
    color: var(--color2);
}

.divNewsbar:active .NewsIconSet1 {
    color: var(--color2);
}

.divNewsbar:active .divNewsTime {
    color: var(--color2);
}

.divNewsbar:active {
    background-color: var(--color);
    ;
}

.divNewsbar1:active .NewsText1 {
    color: var(--color2);
}

.divNewsbar1:active .NewsIconSet1 {
    color: var(--color2);
}

.divNewsbar1:active .divNewsTime {
    color: var(--color2);
}

.divNewsbar1:active {
    background-color: var(--color);
    ;
}