.divShortCutIcon {
    position: fixed;
    bottom: 20px; 
    left: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    gap: 7px; 
    z-index: 5;
}
  
  .divShortCutIcon.smallGap {
    gap: 15px; 
  }
  

.divScollbuttonNavMenuSection1,
.divScollbuttonNavMenuSection2,
.divScollbuttonNavMenuSection3 {
    position: relative; 
}

.divScollbuttonNavMenuSection1 #name,
.divScollbuttonNavMenuSection2 #name,
.divScollbuttonNavMenuSection3 #name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color); 
    height: 3.5rem; 
    width: 3.5rem; 
    border-radius: 100px; 
    border: 1px solid var(--color2); 
    color: var(--color2);
    transition: all 0.4s;

}
.divScollbuttonNavMenuSection1 #name:hover{
    background-color: var(--color2); 
    height: 4.5rem; 
    width: 4.5rem; 
    border-radius: 100px; 
    border: 2px solid var(--color); 
    color: var(--color);
    transition: all 0.4s;
    outline: 2px var(--color2) solid;;
}

.divScollbuttonNavMenuSection2 #name:hover{
    background-color: var(--color2); 
    height: 4.5rem; 
    width: 4.5rem; 
    border-radius: 100px; 
    border: 2px solid var(--color); 
    color: var(--color);
    transition: all 0.4s;
    outline: 2px var(--color2) solid;
}



.divScollbuttonNavMenuSection3 #name:hover{
    background-color: var(--color2); 
    height: 4.5rem; 
    width: 4.5rem; 
    border-radius: 100px; 
    border: 2px solid var(--color); 
    color: var(--color);
    transition: all 0.4s;
    outline: 2px var(--color2) solid;
}




