.Footer {
    padding: 4rem 0rem;
    background: url(../../../../Public/Elements/footer.svg);
    background-color: var(--color1);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 6rem;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding-inline: 12rem;
}

.section2 {
    display: flex;
    justify-content: space-between;
    padding-inline: 12rem;
}

.one {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: white;
    font-family: "Nunito", sans-serif;
}

.logoFooter {
    width: 4rem;
    border: 2px solid var(--color);
    border-radius: 100px;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    gap: 2rem;
    font-size: 1rem
}

.flex1 {
    display: flex;
    gap: 1rem;
    font-size: 1rem
}

.flex1{
    margin-top: 2rem;
}

.Footertext2 {
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

