/* Phone */
@media screen and (max-width: 767px) {

    .divbarnewssection1 {
        display: flex;
        flex-direction: column;
    }

    .divNewsAddBarContainer .divbarnewssection2-column {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .NewsText1 {
    font-size: 4vw;
 }

 .divNewsbar1 .NewsText1 {
    font-size: 3vw;
 }

 .Newsdecp1 {
    font-size: 2vw;
 }

 .divNewsTime {
    font-size: 2vw;
 }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .divbarnewssection1 {
        display: flex;
        flex-direction: column;
    }

    .divNewsAddBarContainer .divbarnewssection2-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .NewsText1 {
    font-size: 4vw;
 }

 .divNewsbar1 .NewsText1 {
    font-size: 3vw;
 }

 .Newsdecp1 {
    font-size: 2vw;
 }

 .divNewsTime {
    font-size: 2vw;
 }
}

/* Laptop */
@media screen and (min-width: 1024px) {}