.DivMenuSectionHeaderNews {
    background: no-repeat url(../../../Public/Images/Group173.png);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0rem;
}

.DivTopNavShort {
    display: flex;
    padding-inline: 3rem;
    padding-top: 5rem;
    align-items: center;
}

.DivTopNavShort p {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.DivBottomtextShort .bckText {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.LinkNav {
    color: white;
    text-decoration: none;
}

.IconRight {
    color: white;
}

.RecentMenu {
    color: white;
    cursor: pointer;
    font-weight: 600
}

.DivBottomtextShort {
    padding-inline: 10rem;
}

.LinkNav:hover {
    color: var(--color2);
    font-weight: 600;
    text-decoration: none;
}

/* You Will Start here */

.divNewsAddBarContainer {
    padding: 3rem;
}

.divNewsbar {
    display: flex;
    box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.1);
    width: 43rem;
    background-color: white;
    height: 24rem;
    border-radius: 12px;
    transition: all 0.4s;
}

.divNewsbar:hover {
    background-color: var(--color2);
    color: white;
}

.NewsImage1 {
    border-radius: 7px;
    margin: 0.5rem;
}

.divNewsTextsSections {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem 1.5rem 1rem;
    justify-content: space-between;
}

.NewsText1 {
    font-size: 2rem;
    color: var(--color);
    font-weight: 700;
}

.divNewsTimeZone {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
}

.divNewsTime {
    font-weight: 600;
    color: var(--color);
}

.NewsIconSet1 {
    color: var(--color);
}

.divbarnewssection1 {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.divNewsAddBarContainer {
    padding: 4rem;
}

.divNewsAddBarContainer .divbarnewssection2-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding-inline: 11rem;

}

.divNewsbar1 {
    box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 12px;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divNewsbar1:hover {
    background-color: var(--color2);
    color: white;
}


.divNewsbar1 .NewsImage1 {
    width: 18.5rem;
    height: 18.5rem;
    background-size: cover;
    background-position: center;
}

.divNewsbar1 .NewsText1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.divNewsbar1 .divNewsTextsSections {
    padding: 1rem 1.5rem 1.5rem 1rem;
}

.divNewsbar1 .divNewsTimeZone {
    margin-top: 2rem;
}

.divbarnewssection1 .NewsImage1 {
    flex-grow: 1;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}