@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --color: #66b64d;
  --color1: #466e61;
  --color2: #00421d;
  --color3: #F2FFF2;
  --color4: #cbf5e8;
  --color5: #F3D2D2;
  --color6: #FF8484;
  --color7: #609555;
  --color8: white;
  --color9: black;
  --color10: #f4f4f4;
  --color11: #e7e7e7;
  --color12: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham-Book';
  text-decoration: none;
}

body {
  overflow-x: hidden !important;

}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
  background: var(--color2);
}

.Nunito {
  font-family: "Nunito", sans-serif;
}


@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}